{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
    <div class="div-post-form">
        <form id="PostForm" method="post">
            {% csrf_token %}
            {{ form.title }}
            {{ form.textarea }}
            <div class="error"></div>
            <input id="input-post-form" type="submit" name="submit" value="Сохранить">
        </form>
    </div>

    <div class="div-lists-posts">
        <ul class="lists-posts">
            {% for post in posts %}
                <div class="posts-container">
                    <div class="div-post-author">
                        <p class='post-author'>{{ post.author }}</p>
                    </div>
                    <div class="div-post-title">
                        <p class='post-title'>{{ post.title }}</p>
                    </div>
                    <div class="div-post-text">
                        <p class='post-text'>{{ post.text }}</p>
                    </div>
                    <div class="div-post-date-created">
                        <p class='post-date-created'>{{ post.date_created }}</p>
                    </div>
                    {% if request.user == post.author %}
                        <div class="post-btns">
                            <div class="div-post-btn">
                                <form id="edit-post-form" action="{% url 'messenger:posts:edit_post' post_id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="button-post" id="button-edit-post" type="submit">
                                        <i class='bx bxs-edit'></i>
                                    </button>
                                </form>
                            </div>
                            <div class="div-post-btn">
                                <form id="delete-post-form" action="{% url 'messenger:posts:delete_post' post_id=post.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="button-post" id="button-delete-post" type="submit">
                                        <i class='bx bx-trash'></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block java_script %}
    <script src="{% static 'js/posts-forms.js' %}"></script>
{% endblock %}
