{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/posts/posts.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="title-page">
            <h2>Create a post</h2>
        </div>
    
        <div class="post-layout">
            <div class="block-post-form">
                <form id="PostForm" method="post">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.textarea }}
                    <div class="error"></div>
                    <input id="save-post" type="submit" name="submit" value="Save post">
                </form>
            </div>
        
            <div id="blockListPosts" class="block-list-posts"></div>
        </div>
    </div>
{% endblock %}

{% block java_script %}
    <script src="{% static 'js/posts/posts.js' %}"></script>
    <script src="{% static 'js/posts/deleteEditPosts.js' %}"></script>
{% endblock %}
