{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/posts-dark-theme.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="title-page">
            <h2>Create a post</h2>
        </div>
    
        <div class="post-layout">
            <div class="block-post-form">
                <form id="PostForm" method="post">
                    {% csrf_token %}
                    {{ form.title }}
                    {{ form.textarea }}
                    <div class="error"></div>
                    <input id="save-post" type="submit" name="submit" value="Save post">
                </form>
            </div>
        
            <div class="block-list-posts">
                <ul class="list-posts">
                    {% for post in posts %}
                        <div class="block-post">
                            <a href="{% url 'user_profile:profile' user_id=post.author.id %}" class="author-profile-link">
                                {% if post.author.profile_photo %}
                                    <div class="block-user-img">
                                        <img src="{{ post.author.profile_photo.url }}" alt="User-avatar">
                                    </div>
                                {% else %}
                                    <div class="block-user-img">
                                        <img src="{% static 'img/user-profile.png' %}" alt="User-avatar">
                                    </div>
                                {% endif %}
                            </a>
                            <div class="info-post">
                                <div class="block-post-author">
                                    <span class='post-author'>{{ post.author }}</span>
                                </div>
                                <div class="block-post-title">
                                    <p class='post-title'>{{ post.title }}</p>
                                </div>
                                <div class="block-post-text">
                                    <p class='post-text'>{{ post.text }}</p>
                                </div>
                            </div>
                            <div class="additional-interaction-post">
                                {% if request.user == post.author %}
                                    <div class="block-post-buttons">
                                        <div class="block-post-button">
                                            <form id="edit-post-form" action="{% url 'posts:edit_post' post_id=post.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="button-post" id="button-edit-post" type="submit" title="Edit post">
                                                    <img src="{% static 'img/button-edit.png' %}" alt="Edit">
                                                </button>
                                            </form>
                                        </div>
                                        <div class="block-post-button">
                                            <form id="delete-post-form" action="{% url 'posts:delete_post' post_id=post.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="button-post" id="button-delete-post" type="submit" title="Delete post">
                                                    <img src="{% static 'img/button-trash.png' %}" alt="Delete all">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="block-post-date-created">
                                    <span class='post-date-created'>{{ post.date_created }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block java_script %}
    <script src="{% static 'js/posts-forms.js' %}"></script>
{% endblock %}
