{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/restart.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block  css %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body>
    <section class="header">
        <div class="header-left-position">
            <div class="block-img-site">
                <img src="{% static 'img/friends.com.png' %}" alt="Ikon Friends.com">
            </div>
            <div class="block-name-site">
                <h1>Friends.com</h1>
            </div>
        </div>
        <div class="header-right-position">
            <div class="block-form-search">
                <form action="...">
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search">
                </form>
            </div>
            <div class="block-button-header">
                <button>
                    <img src="{% static 'img/notification-button.png' %}" alt="Notification-img">
                </button>
            </div>
            <div class="block-button-header">
                <button>
                    <img src="{% static 'img/button-sun.png' %}" alt="Logout-button">
                    <!-- <img src="{% static 'img/button-moon.png' %}" alt="Logout-button"> -->
                </button>
            </div>
            <div class="block-button-header">
                <button>
                     Logout
                </button>
            </div>
            <div class="block-my-account">
                {% if request.user.profile_photo %}
                    <a href="{% url 'user_profile:profile' user_id=request.user.id %}">
                        <img src="{{ request.user.profile_photo.url }}" alt="User -avatar">
                    </a>
                {% else %}
                    <a href="{% url 'user_profile:profile' user_id=request.user.id %}">
                        <img src="{% static 'img/user-profile.png' %}" alt="User -profile">
                    </a>
                {% endif %}
            </div>
        </div>
    </section>
        
    <section class="navigation">
        <div class="block-nav-buttons">
            <a href="{% url 'messenger:messenger' %}" class="nav-link">
                <p>Messenger</p>
            </a>
            <a href="{% url 'messenger:posts:posts' %}" class="nav-link">
                <p>Posts</p>
            </a>
            <a href="{% url 'messenger:my_friends' %}" class="nav-link">
                <p>My friends</p>
            </a>
            <a href="{% url 'messenger:all_users' %}" class="nav-link">
                <p>All users</p>
            </a>
            {% if request.user.is_superuser %}
                <a href="/admin/" class="nav-link">
                    <p>Admin-page</p>
                </a>
            {% endif %}
        </div>
        <div class="block-nav-buttons">
            {% for my_friend in my_friends %}
                <a href="{% url 'messenger:send_message' receiver_id=my_friend.id %}" class="nav-link">
                    <span class="link-name" style="--i:10;">{{ my_friend }}</span>
                </a>
            {% endfor %}
        </div>
    </section>

    <section class="main-block">
        {% block content %}
        {% endblock %}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block java_script %}
    {% endblock %}
</body>
</html>