{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/messenger/restart.css' %}">
    <link id="linkCSS" rel="stylesheet" href="{% static 'css/messenger/base.css' %}"> 
    <link rel="icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
    {% block  css %}
    {% endblock %}
    <title>{{ title }}</title>
</head>
<body class="light-theme">
    <section class="header">
        <div class="header-left-position">
            <div class="block-name-site">
                <a href="{% url 'home' %}">
                    <h1>Friends</h1>
                </a>
            </div>
        </div>
        <div class="header-right-position">
            <div class="block-form-search">
                <form>
                    {% csrf_token %}
                    <input type="text" name="search" placeholder="Search">
                </form>
            </div>
            <div class="block-button-header">
                <button>
                    <img id="notificationButton" src="" alt="Notification ikon">
                </button>
            </div>
            <div class="block-button-header">
                <button id="theme-toggle">
                    <img id="themeButton" src="" alt="Ikon theme">
                </button>
            </div>
            <div class="block-button-header">
                <button id="logout-button">
                     Logout
                </button>
            </div>
            <div class="block-my-account">
                <a id="userAvatarHref" href="">
                    <img id="userAvatar" src="" alt="User avatar">
                </a>
            </div>
        </div>
        <div class="block-hidden-menu">
            <div class="button-activate-menu">
                <button id="buttonActivateMenu">
                    <img src="" alt="activate menu">
                </button>
            </div>
            <div class="hidden-menu hidden">
                <a href="{% url 'messenger:messenger' %}" class="menu-link">
                    <span>Messenger</span>
                </a>
                <a href="{% url 'posts:posts' %}" class="menu-link">
                    <span>Posts</span>
                </a>
                <a href="{% url 'messenger:my_friends' %}" class="menu-link">
                    <span>My friends</span>
                </a>
                <a href="{% url 'messenger:all_users' %}" class="menu-link">
                    <span>All users</span>
                </a>
            </div>
        </div>
    </section>
        
    <section class="navigation">
        <div id="blockNavButtons" class="block-nav-buttons">
            <a href="{% url 'messenger:messenger' %}" class="nav-link">
                <div class="block-nav-icon">
                    <img id="messengerIkon" src="" alt="Messenger">
                </div>
                <span>Messenger</span>
            </a>
            <a href="{% url 'posts:posts' %}" class="nav-link">
                <div class="block-nav-icon">
                    <img id="postsIkon" src="" alt="Posts">
                </div>
                <span>Posts</span>
            </a>
            <a href="{% url 'messenger:my_friends' %}" class="nav-link">
                <div class="block-nav-icon">
                    <img id="listFriendsIkon" src="" alt="List friends">
                </div>
                <span>My friends</span>
            </a>
            <a href="{% url 'messenger:all_users' %}" class="nav-link">
                <div class="block-nav-icon">
                    <img id="listUsersIkon" src="" alt="List users">
                </div>
                <span>All users</span>
            </a>
            <br>
        </div>
    </section>

    <section class="main-block">
        {% block content %}
        {% endblock %}
    </section>

    <div id="block-notifications"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/messenger/base.js' %}"></script>
    <script src="{% static 'js/registration/logoutUser.js' %}"></script>
    <script src="{% static 'js/messenger/themeChange.js' %}"></script>
    <script src="{% static 'js/messenger/notifications.js' %}"></script>
    <script src="{% static 'js/messenger/updateTokens.js' %}"></script>
    {% block java_script %}
    {% endblock %}
</body>
</html>