{% extends 'messenger/base.html' %}

{% block content %}
    <div id="reciever-name">
        <h2>Chat-GPT</h2>
    </div>
    <div id="messages">
        <!-- <ul>
            {% for message in messages_in_room %}
                {% if message.sender == request.user %}
                    <div class="message">
                        <div class="div-message-sender">
                            <li class="message-sender">{{ message.sender }}: {{ message.text_message }}</li>
                        </div>

                        <div class="message-btn-edit">
                            {% if message.sender == request.user %}
                                <form action="{% url 'messenger:edit_message' receiver_id=receiver_id message_id=message.id %}">
                                    {% csrf_token %}
                                    <button alt="jkdsfljak">
                                        <i class='bx bxs-edit'></i>
                                    </button>
                                </form>
                            {% endif %}
                        </div>

                        <div class="message-btn-trash">
                            <form action="{% url 'messenger:delete_message' message_id=message.id %}" method="post">
                                {% csrf_token %}
                                <button>
                                    <i class='bx bx-trash'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% else %}
                    <div class="message">
                        <div class="div-message-reciever">
                            <li class="message-reciever">{{ message.sender }}: {{ message.text_message }}</li>
                        </div>

                        <div class="message-btn-trash">
                            <form action="{% url 'messenger:delete_message' message_id=message.id %}" method="post">
                                {% csrf_token %}
                                <button>
                                    <i class='bx bx-trash'></i>
                                </button>
                            </form>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </ul> -->
        <p>Разрабатывается!</p>
    </div>
    
    <!-- {% if 'edit_message' in request.path %}
        <form id="messageForm" action="{% url 'messenger:edit_message' receiver_id=receiver_id message_id=message.id %}" method="post">
            {% csrf_token %}
            {{ form.textarea }}
            <button type="submit">
                <i class='bx bx-send'></i>
            </button>
        </form>
    {% else %}
        <form id="messageForm" action="" method="post">
            {% csrf_token %}
            {{ form.textarea }}
            <button type="submit">
                <i class='bx bx-send'></i>
            </button>
        </form>
    {% endif %} -->
{% endblock %}
