{% extends 'messenger/base.html' %}

{% block content %}
    <div id="reciever-name">
        <h2>All people</h2>
    </div>

    {% for user in users %}
        <ul class="list">
                <li class="list-item">
                    {% if user in my_friends %}
                    <form action="{% url 'messenger:delete_from_friends' friend_id=user.id %}" method="post">
                        {% csrf_token %}
                        <a class="link-user-profile" href="{% url 'user_profile:profile' user_id=user.id %}">
                            <span class="link-name">{{ user.username }}</span>
                        </a>
                        <button class="btn-delete-friend" type="submit">
                            <i class='bx bx-user-minus' ></i>
                        </button>
                    {% else %}
                    <form action="{% url 'messenger:add_to_friends' friend_id=user.id %}" method="post">
                        {% csrf_token %}
                        <a class="link-user-profile" href="{% url 'user_profile:profile' user_id=user.id %}">
                            <span class="link-name">{{ user.username }}</span>
                        </a>
                        <button class="btn-add-friend" type="submit">
                            <i class='bx bx-user-plus' ></i>
                        </button>
                    </form>
                    {% endif %}
                </li>
            </form>
        </ul>
    {% endfor %}
{% endblock %}
