{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/messenger/list-users.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="block-header">
            <h2>My friends</h2>
        </div>
    
        <div class="block-list-users">
            <div id="listUsers" class="list-users"></div>
        </div>
    </div>

    <script src="{% static 'js/messenger/listMyFriends.js' %}"></script>
    <script src="{% static 'js/messenger/addDeleteFriends.js' %}"></script>
{% endblock %}
