{% extends 'messenger/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'css/chatbox-list.css' %}">
{% endblock %}

{% block content %}
    {% for my_friend, last_message in chats_data.items %}
        <div class="chat-list">
            <a href="{% url 'messenger:send_message' receiver_id=my_friend.id %}" class="link-chat-list">
                <p class="chat-with-my-friend">{{ my_friend }}</p>
                <p class="last-message">{{ last_message }}</p>
            </a>
        </div>
    {% endfor %}
{% endblock %}

{% block java_script %}
    <script src="{% static 'js/script-for-chat-list.js' %}"></script>
{% endblock %}
