{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    {% if request.user.theme == 'Light' %}
        <link rel="stylesheet" href="{% static 'css/messenger/send-messages-light-theme.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/messenger/send-messages-dark-theme.css' %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div id="receiver-name">
            <a href="{% url 'user_profile:profile' user_id=receiver.id %}">
                <h2>{{ receiver }}</h2>
            </a>
        </div>
        <div class="block-messages">
            <ul class="lists-messages">
                {% for message in messages_in_room %}
                    {% if message.sender == request.user %}
                        <div class="block-message-me"> 
                            <div class="block-message-buttons">
                                <div class="block-message-button">
                                    <form action="{% url 'messenger:edit_message' receiver_id=receiver_id message_id=message.id %}">
                                        {% csrf_token %}
                                        <button type="submit" title="Edit">
                                            {% if request.user.theme == 'Light' %}
                                                <img src="{% static 'img/edit-black.png' %}" alt="Edit">
                                            {% else %}
                                                <img src="{% static 'img/edit-white.png' %}" alt="Edit">
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
        
                                <div class="block-message-button">
                                    <form action="{% url 'messenger:delete_message_from_everyone' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" title="Delete all">
                                            {% if request.user.theme == 'Light' %}
                                                <img src="{% static 'img/trash-black.png' %}" alt="Delete all">
                                            {% else %}
                                                <img src="{% static 'img/trash-white.png' %}" alt="Delete all">
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
        
                                <div class="block-message-button">
                                    <form action="{% url 'messenger:delete_message_from_me' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" title="Delete me">
                                            {% if request.user.theme == 'Light' %}
                                                <img src="{% static 'img/trash-black.png' %}" alt="Delete me">
                                            {% else %}
                                                <img src="{% static 'img/trash-white.png' %}" alt="Delete me">
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="block-info-message">
                                <li class="block-message-text">
                                    <span class="message-sender">{{ message.sender }}</span>
                                    <div class="message-text">
                                        <p>{{ message.text_message }}</p>
                                        <span class="message-time-created">{{ message.time_created }}</span>
                                    </div>
                                </li>

                                {% if message.sender.profile_photo %}
                                    <div class="block-message-img">
                                        <img src="{{ message.sender.profile_photo.url }}" alt="User -avatar">
                                    </div>
                                {% else %}
                                    <div class="block-message-img">
                                        {% if request.user.theme == 'Light' %}
                                            <img src="{% static 'img/user-avatar-black.png' %}" alt="User-avatar">
                                        {% else %}
                                            <img src="{% static 'img/user-avatar-white.png' %}" alt="User-avatar">
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="block-message-receiver">
                            <div class="block-info-message">
                                {% if message.sender.profile_photo %}
                                    <div class="block-message-img">
                                        <img src="{{ message.sender.profile_photo.url }}" alt="User -avatar">
                                    </div>
                                {% else %}
                                    <div class="block-message-img">
                                        {% if request.user.theme == 'Light' %}
                                            <img src="{% static 'img/user-avatar-black.png' %}" alt="User-avatar">
                                        {% else %}
                                            <img src="{% static 'img/user-avatar-white.png' %}" alt="User-avatar">
                                        {% endif %}
                                    </div>
                                {% endif %}
                                <li class="block-message-text">
                                    <span class="message-sender">{{ message.sender }}</span>
                                    <div class="message-text">
                                        <p>{{ message.text_message }}</p>
                                        <span class="message-time-created">{{ message.time_created }}</span>
                                    </div>
                                </li>
                            </div>
        
                            <div class="block-message-buttons">
                                <div class="block-message-button">
                                    <form action="{% url 'messenger:delete_message_from_everyone' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" title="Delete all">
                                            {% if request.user.theme == 'Light' %}
                                                <img src="{% static 'img/trash-black.png' %}" alt="Delete all">
                                            {% else %}
                                                <img src="{% static 'img/trash-white.png' %}" alt="Delete all">
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
        
                                <div class="block-message-button">
                                    <form action="{% url 'messenger:delete_message_from_me' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" title="Delete me">
                                            {% if request.user.theme == 'Light' %}
                                                <img src="{% static 'img/trash-black.png' %}" alt="Delete me">
                                            {% else %}
                                                <img src="{% static 'img/trash-white.png' %}" alt="Delete me">
                                            {% endif %}
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        
        {% if 'edit_message' in request.path %}
            <form id="EditMessageForm" class="block-message-form" action="{% url 'messenger:edit_message' receiver_id=receiver_id message_id=message.id %}" method="post">
                {% csrf_token %}
                {{ form.textarea }}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input class="submit-message" id="input-edit-message-form" type="submit" name="SubmitMessage" placeholder="Send">
            </form>
        {% else %}
            <form id="SendMessageForm" class="block-message-form" method="post">
                {% csrf_token %}
                {{ form.textarea }}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <input class="submit-message" id="input-message-form" type="submit" name="SubmitMessage" placeholder="Send" value="Send">
            </form>
        {% endif %}
    </div>
{% endblock %}

{% block java_script %}
    <script src="{% static 'js/activate-message-buttons.js' %}"></script>
    <script src="{% static 'js/messages-forms.js' %}"></script>
{% endblock %}
