{% extends 'messenger/base.html' %}

{% block content %}
    <div id="reciever-name">
        <h2>Favorites</h2>
    </div>
    <div id="messages">
        <ul>
            {% for message in messages_in_room %}
                <div class="message">
                    <div class="div-message-sender">
                        <li class="message-sender">{{ message.sender }}: {{ message.text_message }}</li>
                    </div>

                    <div class="message-btn-trash">
                        <form action="{% url 'messenger:delete_message' message_id=message.id %}">
                            {% csrf_token %}
                            <button>
                                <i class='bx bx-trash'></i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>

    <form id="messageForm" action="{% url 'messenger:send_message_favorites' %}" method="post">
        {% csrf_token %}
        {{ form.textarea }}
        <button type="submit">
            <i class='bx bx-send'></i>
        </button>
    </form>
{% endblock %}