{% extends 'messenger/base.html' %}

{% block content %}
    <div id="reciever-name">
        <a href="{% url 'user_profile:profile' user_id=receiver.id %}">
            <h2>{{ receiver }}</h2>
        </a>
    </div>
    <div id="messages">
        <ul>
            {% for message in messages_in_room %}
                {% if message.sender == request.user %}
                    <div class="message">
                        <div class="div-message-sender">
                            <li class="message-sender">{{ message.sender }}: {{ message.text_message }}</li>
                            <p class="message-time-created">{{ message.time_created }}</p>
                        </div>

                        <div class="list-message-btns">
                            <div class="activate-btn">
                                <i class='bx bx-chevron-right'></i>
                            </div>

                            <div class="message-btns">
                                <div class="message-btn">
                                    {% if message.sender == request.user %}
                                        <form action="{% url 'messenger:edit_message' receiver_id=receiver_id message_id=message.id %}">
                                            {% csrf_token %}
                                            <button type="submit">
                                                <i class='bx bxs-edit'></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
        
                                <div class="message-btn">
                                    <form action="{% url 'messenger:delete_message_from_everyone' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </form>
                                </div>
        
                                <div class="message-btn">
                                    <form action="{% url 'messenger:delete_message_from_me' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="message">
                        <div class="div-message-reciever">
                            <li class="message-reciever">{{ message.sender }}: {{ message.text_message }}</li>
                            <p class="message-time-created">{{ message.time_created }}</p>
                        </div>

                        <div class="list-message-btns">
                            <div class="activate-btn">
                                <i class='bx bx-chevron-right'></i>
                            </div>

                            <div class="message-btns">
                                <div class="message-btn">
                                    <form action="{% url 'messenger:delete_message_from_everyone' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </form>
                                </div>
        
                                <div class="message-btn">
                                    <form action="{% url 'messenger:delete_message_from_me' message_id=message.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit">
                                            <i class='bx bx-trash'></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    {% if 'edit_message' in request.path %}
        <form id="messageForm" action="{% url 'messenger:edit_message' receiver_id=receiver_id message_id=message.id %}" method="post">
            {% csrf_token %}
            {{ form.textarea }}
            <button type="submit">
                <i class='bx bx-send'></i>
            </button>
        </form>
    {% else %}
        <form id="messageForm" action="{% url 'messenger:send_message' receiver_id=receiver_id %}" method="post">
            {% csrf_token %}
            {{ form.textarea }}
            <input class="submit-message" type="submit" name="SubmitMessage" placeholder="Отправить">
        </form>
    {% endif %}
{% endblock %}

{% block java_script %}
    <script src="/static/js/script-for-message-buttons.js"></script>
{% endblock %}
