{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/messenger/send-messages.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="receiver-name">
            <a id="receiverLink" href="">
                <h2 id="receiverName"></h2>
            </a>
        </div>
        <div id="listMessages" class="block-messages"></div>
        
        <form id="SendMessageForm" class="block-message-form" method="post">
            {% csrf_token %}
            {{ form.textarea }}
            <input class="submit-message" id="input-message-form" type="submit" name="SubmitMessage" placeholder="Send" value="Send">
        </form>
    </div>
{% endblock %}

{% block java_script %}
    <script src="{% static 'js/messenger/messages.js' %}"></script>
    <script src="{% static 'js/messenger/activateMessageButtons.js' %}"></script>
    <script src="{% static 'js/messenger/deleteEditMessages.js' %}"></script>
{% endblock %}
