{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/registration/login.css' %}">
    <link rel="icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
    <title>{{ title }}</title>
</head>

<body>
    <div class="wrapper">
        {% block content %}
        {% endblock %}
    </div>

    <div id="block-notifications"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/messenger/notifications.js' %}"></script>
    <script src="{% static 'js/registration/loginUser.js' %}"></script>
    <script src="{% static 'js/registration/signupUser.js' %}"></script>
</body>

</html>