{% extends 'registration/base.html' %}

{% block content %}
    <form id="LoginForm" method="post">
        {% csrf_token %}
        <h1>Log in</h1>
        <div class="input-box">
            {{ form.username }}
            <i class="bx bxs-user"></i>
        </div>

        <div class="input-box">
            {{ form.password }}
            <i class='bx bxs-lock-alt'></i>
        </div>

        <div class="remember-forgot">
            <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn" id="login-button">Log in</button>

        <div class="register-link">
            <p>Don't have an account? <a href="{% url 'auth:signup' %}">Sign up</a></p>
        </div>
    </form>
{% endblock %}