@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background: #121217;
    font-family: 'Roboto';
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 2px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #39373e;
    color: #fff;
}

.header-left-position {
    float: left;
    display: flex;
}

.header-right-position {
    margin: 5px;
    float: right;
    display: flex;
    align-items: center;
}

.block-img-site {
    margin: auto 1px;
}

.block-name-site {
    margin: auto 1px;
}

.block-form-search {
    margin: 5px 30px;
    display: flex;
    align-items: center;
}

.block-form-search form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-form-search input {
    padding: 5px;
    width: 80%;
    background: #292e38;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    transition: .1s;
}

.block-form-search input:focus {
    border: none;
    outline: none;
}

.block-form-search input::placeholder {
    color: #9EA6B8;
    text-align: center;
}

.block-button-header button {
    margin: 5px;
    padding: 5px;
    display: flex;
    background: #292e38;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    color: #fff;
    transition: .1s;
}

.block-form-search input:hover,
.block-button-header button:hover,
.block-my-account:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.block-my-account {
    margin: 5px 5px 5px 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    flex-shrink: 0;
    max-width: 40px;
    max-height: 40px;
    justify-content: center;
    overflow: hidden;
    transition: .1s;
}

.block-my-account img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    display: inline;
    width: 20%;
    position: fixed;
    font-size: 18px;
}

.block-nav-buttons {
    margin: 20px;
    padding: 20px;
}

.block-nav-buttons .nav-link {
    margin: 10px;
    padding: 10px;
    display: block;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
}

.block-nav-buttons .nav-link:hover {
    background: #292e38;
    transition: .1s;
}

.main-block {
    padding: 10px;
    position: fixed;
    width: 80%;
    right: 0;
}
