@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom left, #e4e6dc, #a2a89eda);
    backdrop-filter: blur(100px);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(40px);
    border-right: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 6px 14px;
    transition: transform .3s;
}

.sidebar.active {
    width: 260px;
}

.sidebar .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
}

.sidebar .logo-menu .logo {
    font-size: 25px;
    color: #000;
    pointer-events: none;
    opacity: 0;
    transition: transform .3s;
}

.sidebar.active .logo-menu .logo {
    opacity: 1;
    transition-delay: transform .3s;
}

.sidebar .logo-menu .toggle-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    transition: transform .3s;
}

.sidebar.active .logo-menu .toggle-btn {
    left: 90%;
}

.sidebar .list {
    margin-top: 10px;
}

.list .list-item {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    line-height: 50px;
}

.list .list-item a {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: transform .3s;
}

.list .list-item .link-user-profile {
    display: inline;
    align-items: center;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
    white-space: nowrap;
    transition: transform .3s;
}

.list .list-item.active a,
.list .list-item a:hover {
    background: rgba(255, 255, 255, .2);
}

.list .list-item a i {
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.sidebar .link-name {
    opacity: 0;
    pointer-events: none;
    transition: opacity transform .3s;
}

.sidebar.active .link-name {
    opacity: 1;
    pointer-events: auto;
    transition-delay: calc(.1s * var(--i));
}






#chatbox {
    position: absolute;
    display: block;
    width: 55%;
    height: 95%;
    border: 1px solid #b6b6b6;
    border-radius: 10px;
    margin: auto auto;
    padding: 10px;
    background: #e6e8df;
    box-shadow: -.1px .1px 5px 0px rgba(0, 0, 0, .5);
}

#reciever-name {
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reciever-name a {
    text-decoration: none;
    color: #000;
}

#messages {
    padding: 10px;
    max-height: 85%;
    overflow-y: auto;
}

#messages::-webkit-scrollbar {
    width: 5px;
}

#messages::-webkit-scrollbar-track {
    background: #e6e8df;
}

#messages::-webkit-scrollbar-thumb {
    background-color: #898989;
    border-radius: 20px;
}

#chatbox .div-message-sender {
    margin: 5px;
    width: 30%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 7px;
    background: #d4bca8;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

#chatbox .div-message-reciever {
    margin: 5px;
    width: 30%;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 7px;
    background: #b1bbb7;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}

#chatbox .message-sender {
    padding: 5px;
    display: block;
    list-style: none;
    word-wrap: break-word;
}

#chatbox .message-reciever {
    padding: 5px;
    display: block;
    list-style: none;
    word-wrap: break-word;
}

#messageForm {
    margin: 2px auto;
    display: flex;
    justify-content: space-between;
}

#messageForm textarea {
    margin: 0 0 10px 15px;
    padding: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85%;
    height: 5%;
    resize: none;
    border: none;
    border-radius: 7px;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

#messageForm textarea:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

#messageForm textarea:focus {
    border: none;
    outline: none;
}

#messageForm input[type="submit"] {
    margin: 0 15px 10px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 5%;
    border: none;
    border-radius: 7px;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    transition: opacity transform .3s;
    box-sizing: border-box;
}

/* #messageForm input[type="submit"]:hover {
    background: #898989;
} */

#messageForm input[type='submit']:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

.btn-delete-friend {
    padding: 1px;
}

.btn-add-friend {
    padding: 1px;
}

.message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;

}

.list-message-btns {
    display: flex;
}

.activate-btn {
    margin: auto 2px;
    padding: 2px;
    border: none;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: none;
}

.message-btn button {
    margin: auto 2px;
    padding: 3px;
    border: none;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: none;
}

.message-btn button:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

.message-time-created {
    margin: 2px;
    font-size: smaller;
}
