/* .div-post-form{
    display: flex;
    justify-content: center;
    border-radius: 7px;
    width: 50%;
    margin: 5px auto;
    padding: 10px;
    box-shadow: -.1px .1px 5px 0px rgba(0, 0, 0, .5);
    height: 25%;
}

.lists-posts {
    justify-content: center;
    border-radius: 7px;
    margin: 5px auto;
    padding: 10px;
    max-height: 680px;
    overflow-y: auto;
}

.lists-posts::-webkit-scrollbar {
    width: 5px;
}

.lists-posts::-webkit-scrollbar-track {
    background: #e6e8df;
}

.lists-posts::-webkit-scrollbar-thumb {
    background-color: #898989;
    border-radius: 20px;
}

#PostForm{
    display: flex;
    flex-direction: column;
    padding: auto 5px;
    padding-bottom: 0px;
    flex-direction: column;
    width: 90%;
}

#PostForm textarea {
    margin: 5px auto;
    padding: 5px;
    height: 100%;
    width: 90%;
    resize: none;
    border: none;
    border-radius: 7px;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    background: #fff;
}

#PostForm textarea:focus {
    border: none;
    outline: none;
}

#PostForm textarea:focus::-webkit-input-placeholder {
    color: #000;
}

#PostForm textarea:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

#PostForm input[type='submit'] {
    margin: 5px auto;
    padding: 10px;
    width: 90%;
    height: 50%;
    background: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    transition: opacity transform .3s;
}

#PostForm input[type='submit']:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

.posts-container {
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid #b6b6b6;
    border-radius: 7px;
    box-shadow: -.1px .1px 5px 0px rgba(0, 0, 0, .5);
}

.lists-posts p {
    margin: 5px;
}

.post-btns {
    margin: 3px auto;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-post-btn button {
    margin: 3px;
    padding: 3px;
    border: none;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: none;
}

.div-post-btn button:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
} */




.container {
    padding: 20px 100px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    color: #fff;
}

.title-page {
    padding-left: 10px;
    font-size: 28px;
}

#PostForm textarea {
    padding: 15px;
    margin: 10px;
    margin-bottom: 20px;
    display: block;
    background: #292e38;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: .1s;
    color: #fff;
    resize: none;
    width: 40%;
}

#title-input {
    max-height: 65px;
}

#textarea-input {
    max-height: 150px;
}

#PostForm textarea::placeholder {
    color: #9EA6B8;
}

#PostForm textarea:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

#save-post {
    margin: 5px 5px 20px 10px;
    padding: 10px;
    background: #3f62ff;
    border: none;
    border-radius: 10px;
    color: #fff;
}
