.top-of-page {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 20px;
}
  
.add-profile-photo {
    position: relative;
}
  
.picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
  
.upload-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: transfrom opacity .3s ease;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}
  
.upload-form:hover {
    opacity: 1;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
  
.upload-label {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
}

.upload-label:hover {
  font-size: 18px;
}

.upload-button {
    color: #fff;
    font-size: 16px;
    margin-bottom: 10px;
    background: none;
    border: none;
}

.upload-button:hover {
  font-size: 18px;
}
  
.upload-input {
    display: none;
}
  
.profile-name {
    font-size: 32px;
    margin: 15px auto;
    color: #333;
}

.additional-information-about-user {
    margin: 15px;
}

.user-data {
    margin: 20px;
}

.additional-information-about-user .info-block {
    display: block;
}

.additional-information-about-user .info-block button {
    margin: 5px auto 5px 10px;
    padding: 3px;
    border: none;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: none;
}

.additional-information-about-user .info-block button:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

.input-profile-data {
    width: 30%;
    height: 30px;
    padding: 7px 10px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 7px;
    border: none;
    background: #fff;
    color: #000;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
}

.input-profile-data:focus {
    border: none;
    outline: none;
}

.div-message-profile-button {
    margin: 5px auto;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.href-message-profile {
    text-decoration: none;
    color: #000;
}

.message-profile-button {
    margin: 5px auto;
    padding: 3px;
    border: none;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: none;
}

.message-profile-button:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}

.user-profile-button {
    margin: 5px auto;
    padding: 3px;
    border: none;
    box-shadow: -.1px .1px 3px 0px rgba(0, 0, 0, .5);
    border-radius: 5px;
    background: none;
}

.user-profile-button:hover {
    box-shadow: -.2px .2px 4px 0px rgba(0, 0, 0, .5);
}
