{% extends 'messenger/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/user_profile/user-profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="block-header">
            <div id="blockLoadPhoto" class="block-load-photo">
                <img id="profileAvatar" src="" alt="Profile Picture" class="user-avatar">
    
                <form id="formUploadAvatar" class="upload-form" enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <label for="upload" class="upload-label">Выбрать фото</label>
                    {{ form_image.avatar }}
                    <button type="submit" class="upload-button" name="Upload profile photo">Загрузить фотографию</button>
                </form>
            </div>
            
            <div class="block-username">
                <h2 id="username" class="username"></h2>
            </div>
    
            <div id="blockProfileButtons" class="block-profile-buttons"></div>
        </div>
    
        <div id="blockDataUser" class="block-data-user">
            <div class="block-info-profile">
                <form id="formUsername" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="username">Username</span>
                    {{ form_data.username }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formPhone" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="phone">Phone</span>
                    {{ form_data.phone }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formEmail" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="email">Email</span>
                    {{ form_data.email }}
                </form>
            </div>
    
            <div id="formPassword" class="block-info-profile">
                <form id="formPassword" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="password">Password</span>
                    {{ form_data.password }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formFirstname" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="firstname">First name</span>
                    {{ form_data.firstname }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formMiddlename" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="middlename">Middle name</span>
                    {{ form_data.middlename }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formLastname" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="lastname">Last name</span>
                    {{ form_data.lastname }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formBirthday" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="birthday">Birthday</span>
                    {{ form_data.birthday }}
                </form>
            </div>
    
            <div class="block-info-profile">
                <form id="formBio" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="biography">Biography</span>
                    {{ form_data.biography }}
                </form>
            </div>
            
            <div class="block-info-profile">
                <form id="formSex" class="user-data" method="post">
                    {% csrf_token %}
                    <span class="profile-data-span" for="sex">Sex</span>
                    <select id="inputSex" class="input-profile-data" name="gender"></select>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/user_profile/userProfile.js' %}"></script>
    <script src="{% static 'js/user_profile/changeUserData.js' %}"></script>
    <script src="{% static 'js/user_profile/addDeleteFriendsFromProfile.js' %}"></script>
{% endblock %}
