.container {
    position: relative;
    height: 100%;
    width: 100%;
    color: #000;
}

.block-header {
    padding: 20px;
    display: flex;
    position: relative;
    left: -10%;
    flex-direction: column;
    align-items: center;
}

.block-load-photo {
    position: relative;
}

.block-load-photo .user-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.upload-form {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #cad2e4c9;
    opacity: 0;
    transition: opacity .3s ease;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

.upload-form:hover {
    opacity: 1;
}

.upload-label {
    margin-bottom: 10px;
    color: #292e38;
    font-size: 16px;
}

.upload-label:hover {
    color: #9EA6B8;
}

.upload-button {
    margin-bottom: 10px;
    color: #000;
    font-size: 16px;
    background: none;
    border: none;
}

.upload-button:hover {
    color: #9EA6B8;
}

.upload-input {
    display: none;
}

.block-username {
    margin: 20px;
    padding: 5px;
    font-size: 24px;
}

.block-profile-buttons {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-button {
    margin: 5px;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 10px;
    background-color: #292e38;
    transition: .1s;
    
}

.profile-button:hover {
    box-shadow: 0 0 15px #cad2e4;
}

.link-to-messenger {
    text-decoration: none;
}

.block-data-user {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.block-info-profile {
    margin: 15px 5px;
    padding: 5px;
}

.user-data {
    position: relative;
}

.profile-data-span {
    position: absolute;
    top: -20px;
    font-size: 14px;
    color: #cad2e4;
}

.input-profile-data {
    margin-right: 5px;
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #cad2e4;
    color: #292e38;
}

.input-profile-data:focus {
    border: none;
    outline: none;
}

.input-profile-data:hover {
    box-shadow: 0 0 10px #cad2e4;
}

.profile-data-button {
    padding: 7px 12px;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    background: #cad2e4;
    color: #292e38;
    transition: .1s;
}

.profile-data-button:hover {
    box-shadow: 0 0 10px #cad2e4;
}
